<div id="container">
    <h1 id="admin-heading"> These are the days with their available waiters</h1>

    <div id="admin-days-div">
        {{#each days}}
        <div class="admin-weekday" style="background-color: {{bgColor}};">
            <h2 class="day-heading">{{day}}</h2>
            {{#each waiters}}
            <p class="waiter-admin">{{this}}</p>
            {{/each}}
        </div>
        {{/each}}
    </div>
</div>