<div id="chosen-days-div">
    <h2 id="chosen-days-heading">{{username}}'s chosen days are displayed below</h2>
    <div>
    {{#each days}}
        <p class="chosen-day">{{this}}</p>
    {{/each}}
    </div>

    <div id="navigation-div">
        <form action="/" method="GET">
            <button type="submit" id="chosen-days-to-home-btn" class="nav-btn"> Home </button>
        </form>

        <form action="/waiters/{{username}}" method="GET">
            <button type="submit" id="chosen-days-to-update-btn" class="nav-btn"> Update Days </button>
        </form>
    </div>
</div>