<form action="/waiter_reg" method="POST">
    <h3> Hello there, please register for the waiter system with your details below </h3>
    <input type="text" name="username" value="" placeholder="Enter your name">
    <button type="submit">submit</button> 
</form>

