<form action="/waiters/:username" method="POST">

    <h1>Hello {{username}}</h1>
    <h2>Please select the days on which you are available to work below</h2>
    
    <div id="days">
        <label for="Monday"> Monday </label>
        <input type="checkbox" value="monday" name="day-one">
        <label for="Tuesday"> Tuesday </label>
        <input type="checkbox" value="tuesday" name="day-two">
        <label for="Wednesday"> Wednesday </label>
        <input type="checkbox" value="wednesday" name="day-three">
        <label for="Thursday"> Thursday </label>
        <input type="checkbox" value="thursday" name="day-four">
        <label for="Friday"> Friday</label>
        <input type="checkbox" value="friday" name="day-five">
        <label for="Saturday"> Saturday </label>
        <input type="checkbox" value="saturday" name="day-six">
        <label for="Sunday"> Sunday </label>
        <input type="checkbox" value="sunday" name="day-seven">

        <button type="submit"> Submit </button>
    </div>
</form>