@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,100&family=Caveat:wght@600&family=Exo+2:ital,wght@1,300&family=Gruppo&family=Handjet:wght@200;300&family=Kaushan+Script&family=Merienda:wght@300&family=Moo+Lah+Lah&family=Poppins:ital,wght@0,200;1,100&family=Ultra&display=swap');
#select-days-div{
    margin: 0;
    padding: 0 5em 0 10em;
    background-image: url('../images/waiterThree.jpg');
    background-size: contain;  
    background-repeat: no-repeat;
}

#days{
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 1em 6em;
}

#error-message{
    color: crimson;
    padding: 0 0 0 10em;
}

#submit-days-btn{
    width: 30%;
    margin: 0 0 0 3em;
    padding: 1em 2em;
    background: transparent;
    border: 1px solid teal;
    border-radius: 5px;
}

#submit-days-btn:hover{
    background-color: teal;
    border: 1px solid #333;
    color: #fff;
}

#waiter-greeting{
    font-family: 'Gruppo', sans-serif;
    font-weight: bolder;
    color: darkcyan;
    padding: 0 0 0 2.5em;
}

#page-heading{
    font-family: 'Caveat', cursive;
    font-size: 160%;
    padding: 0 0 0 3em;
    color:saddlebrown;
}

.workday{
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    color: #333;
}

#chosen-days-div{
    background-image: url('../images/waiterOne.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4em 0;
}

#chosen-days-heading{
    font-family: 'Ultra', serif;
    font-weight: bolder;
    color: #6A9C89;
    text-shadow: 1px 1px 1px #333;
}

.chosen-day{
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    color: #333;
}

#navigation-div{
    display: flex;
    flex-direction: row;
}

.nav-btn{
    border: none;
    border-radius: 5px;
    margin: 0 2em;
    padding: 1em 3em;
    box-shadow: 1px 1px 5px #333;
    color: #fff;
}

#chosen-days-to-home-btn{
    background-color: #6A9C89;
}
#chosen-days-to-home-btn:hover{
    border: 1px solid #6A9C89;
    color: #333;
    background: #fff;
}

#chosen-days-to-update-btn{
    background-color: #F39F5A;
}
#chosen-days-to-update-btn:hover{
    border: 1px solid #F39F5A;
    color: #333;
    background: #fff;
}

#index-div{
    background-image: url('../images/coffeeOne.jpg');
    background-size: cover;
    margin: 0 10em;
    padding: 4.5em 3.5em
}

#index-heading{
    color: #26577C;
    text-align: center;
    font-family: 'Merienda', cursive;
}

#short-descr{
    margin: 4em 3em;
    text-align: center;
    color: khaki;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 900;
    word-spacing: 2px;
}

#instructions{
    margin: 10em 4em;
    text-align: center;
    color: beige;
    font-family: 'Gruppo', sans-serif;
    font-weight: 900;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
}

#lande{
    color: goldenrod;
}

#container{
    background-image: url('../images/waiterTwo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

#admin-heading{
    text-align: center;
    color: #333;
    font-family: 'Gruppo', sans-serif;
}

.admin-weekday{
    margin: 2em 2em;
    padding: 1em 2em;
    border: 1px solid darkseagreen;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 1px 15px 20px #26577C;
}

#admin-days-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em 5em;
}

.day-heading{
    padding: 0 2em;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
    color: brown;
    text-shadow: 1px 1px 1px #fff;
}

.waiter-admin{
    padding: 0 2em;
    margin: 0 0 0 2em;
    font-family: 'Handjet', cursive;
    font-weight: bolder;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 1px 1px black;
}

.color-item{
    text-align: end;
    list-style-type: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

#colors{
    padding: 0 2em 0 0;
}

#red-text{
    color: crimson;
}
#orange-text{
    color: orange;
}
#green-text{
    color: green;
}
#purple-text{
    color: purple;
}

#waiter-update-div{
    border: 1px solid darkslategrey;
    margin: 5em 25em;
    padding: 5em;
    border-radius: 5px;
}

.update-text, option{
    font-family: 'Poppins', sans-serif;
    color: darkseagreen;
    font-weight: 600;
    margin: 0 0 0 4em;
}

.disabled-option{
    color: black;
    font-weight: 900;
}

option{
    padding: 2em 4em;
}

#update-waiter-btn{
    padding: .5em 2em;
    margin: 2em 0 0 5em;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    background-color: lightslategray;
    border: none;
}
#update-waiter-btn:hover{
    color: #fff;
    font-weight: 900;
    transform: scale(1.05);
}

#update-heading{
    font-family: 'Poppins', sans-serif;
    color: darkkhaki;
    padding-top: 0;
    margin-top: 0;
}

#error{
    color: red;
    text-align: center;
    font-family: 'Handjet', cursive;
    font-weight: bolder;
    letter-spacing: 1px;
}

#success{
    color: green;
    text-align: center;
    font-family: 'Handjet', cursive;
    font-weight: bolder;
    letter-spacing: 1px;
}
