@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alegreya+Sans+SC&family=Caveat&family=Comfortaa:wght@300&family=Exo+2:wght@200&family=Gruppo&family=Handjet&family=Inconsolata:wght@500&family=Merienda&family=Miltonian+Tattoo&family=Montserrat:ital@1&family=Playfair+Display&family=Poppins:wght@200&family=Protest+Revolution&family=Rubik+Glitch+Pop&family=Ultra&display=swap');

#select-days-div{
    margin: 0;
    padding: 0 5em 0 10em;
    background-image: url('../images/waiterThree.jpg');
    background-size: contain;  
    background-repeat: no-repeat;
}

#days{
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 1em 6em;
}

#error-message{
    color: crimson;
    padding: 0 0 0 10em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#success-message{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#reg-success-message{
    color: green;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 900;
    padding: 0 35em 0 0;
}

hr{
    margin: 0 4em;
    box-shadow: .6px .6px 1px coral;
}

#submit-days-btn{
    width: 30%;
    margin: 0 0 0 3em;
    padding: 1em 2em;
    background: transparent;
    border: 1px solid teal;
    border-radius: 5px;
}

#submit-days-btn:hover{
    background-color: teal;
    border: 1px solid #333;
    color: #fff;
}

#waiter-greeting{
    font-family: 'Gruppo', sans-serif;
    font-weight: bolder;
    color: darkcyan;
    padding: 0 0 0 2.5em;
    text-shadow: .4px .4px .4px #fff;
}

#page-heading{
    font-family: 'Caveat', cursive;
    font-size: 160%;
    padding: 0 0 0 3em;
    color:saddlebrown;
    text-shadow: .4px .4px .4px #fff;
}

.workday{
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    color: #333;
    text-shadow: .4px .4px .4px #fff;
}

#chosen-days-div{
    background-image: url('../images/waiterOne.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4em 0;
}

#chosen-days-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #6A9C89;
    text-shadow: .6px .6px .6px #333;
    text-align: center;
}

.chosen-day{
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    color: #333;
    text-shadow: .4px .4px .4px #fff;
}

#navigation-div{
    display: flex;
    flex-direction: row;
}

.nav-btn{
    border: none;
    border-radius: 5px;
    margin: 0 2em;
    padding: 1em 3em;
    box-shadow: 1px 1px 5px #333;
    color: #fff;
}

#chosen-days-to-home-btn{
    background-color: #6A9C89;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
#chosen-days-to-home-btn:hover{
    border: 1px solid #6A9C89;
    color: #333;
    background: #fff;
}

#chosen-days-to-update-btn{
    background-color: #F39F5A;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
#chosen-days-to-update-btn:hover{
    border: 1px solid #F39F5A;
    color: #333;
    background: #fff;
}

#index-div{
    background-image: url('../images/coffeeOne.jpg');
    background-size: cover;
    margin: 0 10em;
    padding: 4.5em 3.5em
}

#index-heading{
    color: #26577C;
    text-align: center;
    font-family: 'Merienda', cursive;
}

#short-descr{
    margin: 4em 3em;
    text-align: center;
    color: khaki;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 900;
    word-spacing: 2px;
}

#instructions{
    margin: 0 4em;
    text-align: center;
    color: beige;
    font-family: 'Gruppo', sans-serif;
    font-weight: 900;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
}

#lande{
    color: goldenrod;
}

#container{
    background-image: url('../images/coffeeFive.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#admin-heading{
    text-align: center;
    color: #333;
    font-family: 'Gruppo', sans-serif;
    text-shadow: .4px .4px .4px #fff;
}

.admin-weekday{
    margin: 2em 2em;
    padding: 1em 2em;
    border: 1px solid darkseagreen;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 1px 15px 20px #26577C;
}

#admin-days-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em 5em;
}

.day-heading{
    padding: 0 2em;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
    color: brown;
    text-shadow: 1px 1px 1px #fff;
}

.waiter-admin{
    padding: 0 2em;
    margin: 0 0 0 2em;
    font-family: 'Handjet', cursive;
    font-weight: bolder;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 1px 1px black;
}

#register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .register-field{

} */

.color-item{
    text-align: end;
    list-style-type: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

#colors{
    padding: 0 2em 0 0;
}

#red-text{
    color: crimson;
}
#orange-text{
    color: orange;
}
#green-text{
    color: green;
}
#purple-text{
    color: purple;
}

#waiter-update-div{
    border: 1px solid darkslategrey;
    margin: 5em 25em;
    padding: 5em 1em;
    border-radius: 5px;
}

.update-text, option{
    font-family: 'Poppins', sans-serif;
    color: darkseagreen;
    font-weight: 600;
    margin: 0 0 0 4em;
}

.disabled-option{
    color: black;
}

option{
    padding: 2em 4em;
}

select{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#update-waiter-btn{
    padding: .5em 2em;
    margin: 3em 0 0 20em;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    background-color: lightslategray;
    border: none;
}
#update-waiter-btn:hover{
    color: #fff;
    font-weight: 900;
    transform: scale(1.05);
}

#update-heading{
    font-family: 'Gruppo', sans-serif;
    font-weight: bold;
    font-size: 200%;
    color: darkkhaki;
    margin: 3em 0 0 0;
    text-align: center;
    text-shadow: .4px .4px .4px white;
}

#error{
    color: red;
    text-align: center;
    font-family: 'Handjet', cursive;
    font-weight: bolder;
    letter-spacing: 1px;
}

#success{
    color: green;
    text-align: center;
    font-family: 'Handjet', cursive;
    font-weight: bolder;
    letter-spacing: 1px;
}

#invalid-name{
    color: crimson;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

#reset-form{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4em 30em;
}

#index-heading, #lande{
    text-shadow: 1px 1px 1px white;
}

#reset-btn{
    padding: .6em 4em;
    margin: 0 0 0 11em;
    border-radius: 5px;
    background-color: coral;
    color: lightgray;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
}
#reset-btn:hover{
    background-color: crimson;
    color: #fff;
}

#enter-name-heading{
    color: #add8e6;
    font-family: 'Poppins', sans-serif;
}

#enter-name-btn{
    border: none;
    background-color: #26577C;
    padding: .5em 2em;
    margin: 0 2em;
    color: lightgray;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    letter-spacing: 1px;
}
#enter-name-btn:hover{
    background-color: lightgray;
    color: #26577C;
    transform: scale(1.02);
    font-weight: 900;
}

#enter-name-input{
    padding: .5em 2em;
    border-radius: 5px;
    border: none;
}

#enter-name-form{
    margin: 3em 0 0 7em;
}

.login-label{
    display: flex;
    flex-direction: row;
    align-items: space-around;
    color: grey;
    font-family: 'Gruppo', sans-serif;
    font-weight: 900;
    font-size: 120%;
    text-shadow: .7px .7px beige;
    padding: .4em 0 0 0;
}

.login-input{
    padding: .4em .8em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    margin: .4em 0;
}

#submit-register-btn{
    margin: 2em 0;
    background-color: lightgreen;
    color: #333;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    padding: 1em 3em;
    text-shadow: .7px .7px grey;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}
#submit-register-btn:hover{
    background-color: #fff;
    cursor: pointer;
}

#login-error, #index-error-message{
    color: crimson;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 120%;
}

#login-success, #index-success-message{
    color: green;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 110%;
    font-weight: bolder;
}

#login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login-main-heading, #waiter-greet{
    text-align: center;
}

#login-main-heading{
    font-family: 'Rubik Glitch Pop', sans-serif;
    color: navajowhite;
    text-shadow: 1px 1px #333;
}

#waiter-greet{
    font-family: 'Miltonian Tattoo', sans-serif;
    color: #fff;
    text-shadow: 1px 1px #333;
    font-weight: bolder;
    font-size: 120%;
}

#login-container-div{
    background-image: url('../images/coffeeSeve.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: lightseagreen;
    height: 120vh;
    padding: 3em 0 0 0;
}

.login-labelss{
    font-family: 'Merienda', sans-serif;
    color: #fff;
    text-shadow: .8px .8px #333;
    margin: 0 6em 0 0;
}

.log-inputs{
    padding: 1em;
    border: none;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-shadow: .5px .5px lightseagreen;
}

#login-btn{
    padding: .5em 3.5em;
    font-family: 'Ultra', sans-serif;
    border: none;
    border-radius: 5px;
    background-color: lightgreen;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: .5px .5px grey;
}

#login-btn:hover{
    background-color: #fff;
    color: lightgreen;
    cursor: pointer;
}



@media screen AND (max-width: 900px){
    #index-div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-size: contain;
        background: #333;
        margin: 0;
    }

    #instructions{
        margin: 0 0 5em 0;
    }

    #short-descr{
        margin: 0;
    }

    #select-days-div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #submit-days-btn{
        width: fit-content;
        margin: 2em 0 0 2em;
    }

    #chosen-days-to-home-btn{
        margin: 0 0 0 3em;
    }

    #chosen-days-to-update-btn{
        padding: .5em 2em;
    }

    #chosen-days-div{
        background-attachment: fixed;
    }

    #container{
        display: flex;
        flex-direction: column;
    }

    #admin-days-div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .admin-weekday{
        margin: 1em 2em;
    }

    #waiter-update-div{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #update-waiter-btn{
        margin: 1em 0;
    }

    #reset-btn{
       margin: 0 0 0 -55em;
    }

    hr{
        margin: 0;
    }

    #update-heading{
        padding: 0 0 1em 0;
    }

    #error-message, #success-message{ 
        padding: 3em 3em 3em 5em;
    }

    #page-heading{
        color: #26577C;
        text-shadow: 1px 1px khaki;
    }

    .workday{
        color: #fff;
        text-shadow: 2px 2px #333;
    }

    .chosen-day{
        color: khaki;
        text-shadow: 2px 2px #333;
    }

    #chosen-days-heading{
        text-shadow: 1.5px 1.5px white;
    }
}